nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.6px solid #ccc;
    margin-left: 15rem;
    padding: 20px;
}

input{
    padding: 8px 20px;
    outline: none;
    border-radius: 20px;
    width: 16rem;
    background: white;
    margin-right: 20px;
}

.nav-icons{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 25px;
    color: rgb(54, 51, 51);
    cursor: pointer;
}