.sidebar-title{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.sidebar-label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}
.sidebar-label-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-bottom: 5rem;
}



.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #eee;
}

.sidebar-label-container:hover input ~ .checkmark{
    background-color: #ccc;
    
}

.sidebar-div2 > * {
    margin-bottom: 10px;
}